{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    {% block headScripts%}{% endblock headScripts %}
    <link rel="shortcut icon" href="{% static 'svg/logo.svg' %}" type="image/x-icon">
    {% comment %} update css_version upon changes in css files {% endcomment %}
    {% with css_version="2.1" %}
        {% block stylesheet %}
        <link rel="stylesheet" href="{% static 'css/contact.css' %}">
      

        
        
        {% endblock stylesheet%}
    {% endwith %}
</head>
<body>
    {% block body %}
    <div class = 'container'>
        <header class = 'header-main'>
            <ul class = 'first-ul'>
                <div class = 'first-two'>
                    <li class = 'header-list-1'><a href="/">Oliv</a></li>
                    <li class = 'header-list'><a href="#"><button type="button" class = 'btn-list'>We are hiring</button></a></li>
                </div>
                <div class = 'next-two'>
                    <li class = 'header-list'><a href="#">Work</a></li>
                    <li class = 'header-list'><a href="#">Services</a></li>
                    <li class = 'header-list'><a href="#">About</a></li>
                    <li class = 'header-list'><a href="#">Blog</a></li>
                    <li class = 'header-list'><a href="#">Pages</a></li>
                    <li class = 'header-list'><a href="#"><button type="button" class="btn-list">Get In Touch</button></a></li>
                    
                </div>
            </ul>
            <hr class = 'horizontal-1'>
        </header>
        <div class = 'contianer-main'>
            <div class = 'image-container'>
                <img src="{% static 'img/img9.png' %}" alt="">

            </div>
        </div>
        <div class = 'container-2'>
            <div class= "column-1">
                <h2>Common Questions</h2>
            </div>
            <div class = 'column2-lists'>
                <div class= "column-2">

                    <div class="column-container-2">
                        <div class="sub-items">
                            <h2>What services do you offer for branding?</h2>
                            <img src="{% static 'img/img1.png' %}" alt="">
                        </div>
                        <div class="sub-item-1">
                            <p>We offer a comprehensive range of branding services, including brand strategy development, visual identity design, brand positioning, messaging, brand guidelines, and brand implementation across various platforms.</p>
                        </div>  
                    </div>
                    
                </div>
                <div class= "column-2">

                    <div class="column-container-2">
                        <div class="sub-items">
                            <h2>What services do you offer for branding?</h2>
                            <img src="{% static 'img/img1.png' %}" alt="">
                        </div>
                        <div class="sub-item-1">
                            <p>We offer a comprehensive range of branding services, including brand strategy development, visual identity design, brand positioning, messaging, brand guidelines, and brand implementation across various platforms.</p>
                        </div>  
                    </div>
                    
                </div>
                <div class= "column-2">

                    <div class="column-container-2">
                        <div class="sub-items">
                            <h2>What services do you offer for branding?</h2>
                            <img src="{% static 'img/img1.png' %}" alt="">
                        </div>
                        <div class="sub-item-1">
                            <p>We offer a comprehensive range of branding services, including brand strategy development, visual identity design, brand positioning, messaging, brand guidelines, and brand implementation across various platforms.</p>
                        </div>  
                    </div>
                    
                </div>
                <div class= "column-2">

                    <div class="column-container-2">
                        <div class="sub-items">
                            <h2>What services do you offer for branding?</h2>
                            <img src="{% static 'img/img1.png' %}" alt="">
                        </div>
                        <div class="sub-item-1">
                            <p>We offer a comprehensive range of branding services, including brand strategy development, visual identity design, brand positioning, messaging, brand guidelines, and brand implementation across various platforms.</p>
                        </div>  
                    </div>
                    
                </div>
                <div class= "column-2">

                    <div class="column-container-2">
                        <div class="sub-items">
                            <h2>What services do you offer for branding?</h2>
                            <img src="{% static 'img/img1.png' %}" alt="">
                        </div>
                        <div class="sub-item-1">
                            <p>We offer a comprehensive range of branding services, including brand strategy development, visual identity design, brand positioning, messaging, brand guidelines, and brand implementation across various platforms.</p>
                        </div>  
                    </div>     
                </div>
            </div> 
                
        </div>

        <br>
        <br>
        <br>
        <div id = 'ninth-container'>
            <div id = 'main-headers'>
                <div id = 'main-headers-items'>
                        <h4>Contact</h4>
                        <div id = 'last-part'>
                            <h2>Let's start building your brand's unique story together.</h2>
                            <p>Want to see what a difference a strong brand can make? Request a consultation today.</p>
                        </div>
                    </div>
                        
                </div>
            </div>
            
        </div> 

    </div>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    {% endblock body %}
    {% comment %} update js_version upon changes in js files {% endcomment %}
    {% with js_version="2.1" %}
        {% block scripts %}{% endblock scripts %}
    {% endwith %}
</body>
</html>